extend layout
block content
  p
    |Cloud Computing is the concept of sharing
    |resources through internet with different users.
    |It improves utilization of our resources completely.
  p
    |We can provide Infrastructure, software, platform to
    | build as a service to end user. With a pay-as-you-go model,
    |it has made for small business to think on spending on OPEX
    |rather than on CAPEX on Data center.
    
      
block sidebar
  .widget
    h1 Widget
    p
      |IaaS: Amazon Web Service,Oracle cloud, Microsoft Azure, etc.
     
    p
      |PaaS: Google App engine, AWS
      | SaaS: Office 365,Salesforce
